In [2]:
import pandas as pd

In [3]:
food_listings = pd.read_csv("food_listings_data.csv")
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
claims = pd.read_csv("claims_data.csv")

In [3]:
claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [4]:
receivers.head()

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [5]:
food_listings.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [6]:
providers.head()

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [7]:
food_listings.isnull().sum()

Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

In [8]:
providers.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [9]:
receivers.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [10]:
claims.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

In [11]:
claims['Claim_ID'].duplicated().sum()

np.int64(0)

In [12]:
food_listings['Expiry_Date'] = pd.to_datetime(
    food_listings['Expiry_Date'],
    format='%m/%d/%Y',
    errors='coerce'
)

In [13]:
import pandas as pd
import mysql.connector



conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@123",
    database="food_management"
)

cursor = conn.cursor()

# Insert data row by row
for index, row in providers.iterrows():
    cursor.execute(
        """
        INSERT INTO providers 
        (Provider_ID, Name, Type, Address, City, Contact)
        VALUES (%s, %s, %s, %s, %s, %s)
        """,
        (
            int(row["Provider_ID"]),
            row["Name"],
            row["Type"],
            row["Address"],
            row["City"],
            row["Contact"]
        )
    )

conn.commit()
cursor.close()
conn.close()

print("Providers data inserted successfully!")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'providers.PRIMARY'

In [ ]:
for index, row in food_listings.iterrows():
    cursor.execute(
        """
        INSERT INTO food_listings
        (
            Food_ID,
            Food_Name,
            Quantity,
            Expiry_Date,
            Provider_ID,
            Provider_Type,
            Location,
            Food_Type,
            Meal_Type
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (
            row['Food_ID'],
            row['Food_Name'],
            row['Quantity'],
            row['Expiry_Date'].date(),
            row['Provider_ID'],
            row['Provider_Type'],
            row['Location'],
            row['Food_Type'],
            row['Meal_Type']
        )
    )

conn.commit()

In [ ]:
for index, row in receivers.iterrows():
    cursor.execute(
        """
        INSERT INTO receivers
        (Receiver_ID, Name, Type, City, Contact)
        VALUES (%s, %s, %s, %s, %s)
        """,
        (
            int(row["Receiver_ID"]),
            row["Name"],
            row["Type"],
            row["City"],
            row["Contact"]
        )
    )

conn.commit()
print("Receivers data inserted successfully!")

Receivers data inserted successfully!

In [ ]:
claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [ ]:
claims['Timestamp'] = pd.to_datetime(
    claims['Timestamp'],
    format='%m/%d/%Y %H:%M',
    errors='coerce'
)

In [ ]:
claims.shape

(1000, 5)

In [ ]:
for index, row in claims.iterrows():
    cursor.execute(
        """
        INSERT INTO claims
        (Claim_ID, Food_ID, Receiver_ID, Status, Timestamp)
        VALUES (%s, %s, %s, %s, %s)
        """,
        (
            int(row["Claim_ID"]),
            int(row["Food_ID"]),
            int(row["Receiver_ID"]),
            row["Status"],
            row["Timestamp"]
            
        )
    )

conn.commit()
print("Claims data inserted successfully!")

Claims data inserted successfully!

In [15]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@123",
    database="food_management"
)

cursor = conn.cursor()

In [ ]:
cursor.execute("SHOW TABLES")

tables = cursor.fetchall()
print("Tables in food_management:")
for table in tables:
    print(table[0])

cursor.close()
conn.close()

ðŸ“‚ Tables in food_management:
claims
food_listings
providers
receivers

In [4]:
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@123",
    database="food_management"
)

cursor = conn.cursor()
cursor.execute("SELECT * FROM receivers LIMIT 5")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Donald Gomez', 'Shelter', 'Port Carlburgh', '(955)922-5295')
(2, 'Laurie Ramos', 'Individual', 'Lewisburgh', '761.042.1570')
(3, 'Ashley Mckee', 'NGO', 'South Randalltown', '691-023-0094x856')
(4, 'Erika Rose', 'NGO', 'South Shaneville', '8296491111')
(5, 'John Romero', 'Individual', 'Bakerport', '067.491.0154')